.banner{
    background-image: url('../../../images/Banner/banner.jpg');
    margin: 0  auto;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    /* ;
    background-repeat: no-repeat;
    background-size: cover;
     */
}